[Unit]
Description=FramyPi Service Script

After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/framy.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
